<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="utf-8">
  <title>Fix Kori</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{% static 'customer/img/FixKori1.png' %}" rel="icon">
  <link href="{% static 'customer/img/FixKori1.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'customer/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'customer/lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'customer/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'customer/lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'customer/lib/magnific-popup/magnific-popup.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'customer/css/style.css' %}" rel="stylesheet">



</head>

<body>

<!--==========================
  Header
============================-->
<header id="header">
  <div class="container">

    <div id="logo" class="pull-left">
      <h1><a href="#intro" class="scrollto">Fix Kori</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="#intro"><img src="img/logo.png" alt="" title=""></a> -->
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li class="menu-active"><a href="#intro">Home</a></li>
        <li><a href="#about">About Us</a></li>
        <li><a href="#features">Services</a></li>
        <li><a href="#more-features">Features</a></li>
        <li><a href="#pricing">Pricing</a></li>
        <li><a href="#faq">F.A.Q</a></li>
        <li><a href="#contact">Contact Us</a></li>
        {% if client %}
        <li class="nav-item dropdown">
          <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user"></i> {{ logged_in_user_object.first_name }} {{ logged_in_user_object.last_name }}
          </a>
          <div class="dropdown-menu">
            <!--todo have to make things work and look good-->
              <a href="{% url 'change_password' %}" class="dropdown-item" style="color:#1dc8cd;"><i class="fa fa-key"></i> Change Password</a><br>
              <a href="{% url 'logout' %}" class="dropdown-item" style="color:#1dc8cd;"><i class="fa fa-sign-out-alt"></i> Logout</a>
          </div>
        </li>
        {% else %}
        <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
      </ul>
    </nav><!-- #nav-menu-container -->
  </div>
</header><!-- #header -->

<!--==========================
  Intro Section
============================-->
<section id="intro">

  <div class="intro-text">
    <h2>Service at your doorstop!</h2>
    <p>Time is valuable. Spend it with family, not with broken things!</p>
    <a href="{% url 'order' %}" class="btn-get-started scrollto">What needs repairing?</a>
  </div>


</section><!-- #intro -->

<main id="main">

  <!--==========================
    About Us Section
  ============================-->
  <section id="about" class="section-bg">
    <div class="container-fluid">
      <div class="section-header">
        <h3 class="section-title">What we do</h3>
        <span class="section-divider"></span>
        <p class="section-description">
          In the busy landscape of Bangladesh, getting some time to yourself is very difficult. Weekends are too few and filled with household errands. We understand these challenges and try to make your life just a little bit easier
        </p>
      </div>

      <div class="row">
        <div class="col-lg-6 about-img wow fadeInLeft">
          <img src="{% static 'customer/img/car-repair.jpg' %}" alt="">
        </div>

        <div class="col-lg-6 content wow fadeInRight">
          <h3>We provide repairing services at your doorstep so that you do not need to waste your precious time getting to the repair shops. Sounds like a good deal? What are you waiting for?</h3>
          <p>
            <a href="{% url 'order' %}" class="btn-get-started">Request a repair</a> or Read on for more . . .
          </p>

          <h3>How our service works</h3>
          <p>Just login to our system and send a repair order. We will take care of the rest for you. We take in your request and pass it along to our verified service providers who assesses the situation and schedules a time to come over and repair your equipment. You have the freedom to discuss your service needs and set the price.</p>

          <h3>The entire service process takes in these few steps:</h3>
          <ul>
            <li><i class="ion-android-checkmark-circle"></i> Login or Register to FixKori and place an online order for a supported repair service.</li>
            <li><i class="ion-android-checkmark-circle"></i> We locate a suitable service provider and set up a tentative schedule for his visit.</li>
            <li><i class="ion-android-checkmark-circle"></i> You will be provided with the service provider's contact information and our representative will call you to confirm that the order has been placed.</li>
            <li><i class="ion-android-checkmark-circle"></i> You are now free to communicate with the service provider and arrange the visit schedule according to your convenience.</li>
          </ul>

          <p>
            After you have received your service we would request you to send us a review of the service provider so that we can maintain the quality standard of the service. Your contribution helps greatly to maintaining and upholding the community standards that we hold very dearly.
          </p>
        </div>
      </div>

    </div>
  </section><!-- #about -->

  <!--==========================
    Product Featuress Section
  ============================-->
  <section id="features">
    <div class="container">

      <div class="row">

        <div class="col-lg-8 offset-lg-4">
          <div class="section-header wow fadeIn" data-wow-duration="1s">
            <h3 class="section-title">Services</h3>
            <span class="section-divider"></span>
          </div>
        </div>

        <div class="col-lg-4 col-md-5 features-img">
          <img src="{% static 'customer/img/product-features.png' %}" alt="" class="wow fadeInLeft">
        </div>

        <div class="col-lg-8 col-md-7 ">

          <div class="row">

            <div class="col-lg-6 col-md-6 box wow fadeInRight">
              <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
              <h4 class="title"><a href="">Vehicle maintenance</a></h4>
              <p class="description">Cleaning, Checkup, Oil Change, Tire Repairs and more. All your vehicle needs right at your doorstep!</p>
            </div>
            <div class="col-lg-6 col-md-6 box wow fadeInRight">
              <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
              <h4 class="title"><a href="">Vehicle repair</a></h4>
              <p class="description">Got a problem with your vehicle? Need engine repairs? Need color change? Any kind of vehicle repair work, we will take it off your hands!</p>
            </div>
            <div class="col-lg-6 col-md-6 box wow fadeInRight" data-wow-delay="0.1s">
              <div class="icon"><i class="ion-ios-flask-outline"></i></div>
              <h4 class="title"><a href="">Television repair</a></h4>
              <p class="description">No need to carry the large heavy televisions yourself. We come and repair at your home!</p>
            </div>
            <div class="col-lg-6 col-md-6 box wow fadeInRight" data-wow-delay="0.2s">
              <div class="icon"><i class="ion-social-buffer-outline"></i></div>
              <h4 class="title"><a href="">Laptop repair</a></h4>
              <p class="description">Need your laptop fixed quickly? Finding it difficult to go to the repair store? We got you covered.</p>
            </div>
            <div class="col-lg-6 col-md-6 box wow fadeInRight" data-wow-delay="0.3s">
              <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
              <h4 class="title"><a href="">Desktop repair</a></h4>
              <p class="description">Desktop device not working? Office equipment needs immediate repair? Give us a call and get it fixed!</p>
            </div>
          </div>

        </div>

      </div>

    </div>

  </section><!-- #features -->

  <!--==========================
    Product Advanced Featuress Section
  ============================-->
  <section id="advanced-features">
    <div class="features-row section-bg">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <img class="advanced-feature-img-left" src="{% static 'customer/img/advanced-feature-2.jpg' %}" alt="">
            <div class="wow fadeInRight">
              <h2>How we work</h2>
              <i class="ion-ios-paper-outline" class="wow fadeInRight" data-wow-duration="0.5s"></i>
              <p class="wow fadeInRight" data-wow-duration="0.5s">Make a request to get your device fixed and provide your service location.</p>
              <i class="ion-ios-color-filter-outline wow fadeInRight" data-wow-delay="0.2s" data-wow-duration="0.5s"></i>
              <p class="wow fadeInRight" data-wow-delay="0.2s" data-wow-duration="0.5s">we provide you a list of all the providers and you get to select the most preferred.</p>
              <i class="ion-ios-barcode-outline wow fadeInRight" data-wow-delay="0.4" data-wow-duration="0.5s"></i>
              <p class="wow fadeInRight" data-wow-delay="0.4s" data-wow-duration="0.5s">The provider comes over and gets the job done. We do not define the pricing or the modality. You are free to choose your own way.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- #advanced-features -->

  <!--==========================
    Call To Action Section
  ============================-->
  <section id="call-to-action">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 text-center text-lg-left">
          <h3 class="cta-title">Convinced Yet?</h3>
          <p class="cta-text"> If we have convinced you, Please consider requesting a service.</p>
        </div>
        <div class="col-lg-3 cta-btn-container text-center">
          <a class="cta-btn align-middle" href="{% url 'order' %}">Request Now</a>
        </div>
      </div>

    </div>
  </section><!-- #call-to-action -->

  <!--==========================
    More Features Section
  ============================-->
  <section id="more-features" class="section-bg">
    <div class="container">

      <div class="section-header">
        <h3 class="section-title">Features</h3>
        <span class="section-divider"></span>
        <p style="margin-left: 0px;" class="section-description">These are all the features we offer for your convenience!</p>
      </div>

      <div class="row">

        <div class="col-lg-6">
          <div class="box wow fadeInLeft">
            <div class="icon"><i class="ion-ios-stopwatch-outline"></i></div>
            <h4 class="title"><a href="">24x7 availability</a></h4>
            <p class="description">All requests are received at any time of the day or night. Our service is open all year round at all times! Service times may vary depending on the availability of the providers, but once ordered, all your requests stay with us and we get back to you as soon as a provider is found!</p>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="box wow fadeInRight">
            <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
            <h4 class="title"><a href="">Price bartering</a></h4>
            <p class="description">We love to bargain. It is an integral part of our culture. We allow our users and providers full bargaining capacity in respect to this culture of ours. We can proudly say we are the only service provider who lets you make a bargain :)</p>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="box wow fadeInLeft">
            <div class="icon"><i class="ion-ios-heart-outline"></i></div>
            <h4 class="title"><a href="">Flexible time scheduling</a></h4>
            <p class="description">Unable to meet with the provider right now? Feel free to change your schedule to any time you and the provider are comfortable. We do not try to force you in following our rules. Your service, your rules!</p>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="box wow fadeInRight">
            <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
            <h4 class="title"><a href="">Direct communication with service provider</a></h4>
            <p class="description">Once a provider has been connected with you, feel free to communicate with him at your own convenience. Feel free to require his services even outside of FixKori. We do not try to control your actions, we try to adjust ourselves to meet your needs!</p>
          </div>
        </div>

        <!--<div class="col-lg-4">-->
          <!--<div class="box wow fadeInRight">-->
            <!--<div class="icon"><i class="ion-ios-analytics-outline"></i></div>-->
            <!--<h4 class="title"><a href="">Parts & Lubricants </a></h4>-->
            <!--<p class="description">Ensures genuine parts and lubricants through our partner service centers  </p>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="col-lg-4">-->
          <!--<div class="box wow fadeInRight">-->
            <!--<div class="icon"><i class="ion-ios-analytics-outline"></i></div>-->
            <!--<h4 class="title"><a href="">Vehicle Tracking Solution </a></h4>-->
            <!--<p class="description">Individual & Corporate VTS solution available on demand  </p>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="col-lg-4">-->
          <!--<div class="box wow fadeInRight">-->
            <!--<div class="icon"><i class="ion-ios-analytics-outline"></i></div>-->
            <!--<h4 class="title"><a href="">Insurance </a></h4>-->
            <!--<p class="description">Insurance coverage from our partner Green Delta Insurance </p>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="col-lg-4">-->
          <!--<div class="box wow fadeInRight">-->
            <!--<div class="icon"><i class="ion-ios-analytics-outline"></i></div>-->
            <!--<h4 class="title"><a href="">Single Dashboard </a></h4>-->
            <!--<p class="description">Manage all your vehicle information & document from single dashboard </p>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="col-lg-4">-->
          <!--<div class="box wow fadeInRight">-->
            <!--<div class="icon"><i class="ion-ios-analytics-outline"></i></div>-->
            <!--<h4 class="title"><a href="">24X7 Call Center </a></h4>-->
            <!--<p class="description">Whenever you need the support, just dial ##FixKori </p>-->
          <!--</div>-->
        <!--</div>-->

      </div>
    </div>
  </section><!-- #more-features -->

  <!--==========================
    Pricing Section
  ============================-->
  <section id="pricing">
    <div class="container">

      <div class="section-header">
        <h3 class="section-title">Pricing</h3>
        <span class="section-divider"></span>
        <p class="section-description">We do not boss you around and tell you what you should pay! We let you take control and dictate your own pricing. We simply bring the service provider to your doorstop!.</p>
      </div>
    </div>
  </section><!-- #pricing -->


  <!--==========================
    Frequently Asked Questions Section
  ============================-->
  <section id="faq"  class="section-bg">
    <div class="container">

      <div class="section-header">
        <h3 class="section-title">Frequently Asked Questions</h3>
        <span class="section-divider"></span>
        <p class="section-description">In case you were wondering, we took the liberty of addressing some of the key confusions.</p>
      </div>

      <ul id="faq-list" class="wow fadeInUp">
        <li>
          <a data-toggle="collapse" class="collapsed" href="#faq1">What is the cost of this service?<i class="ion-android-remove"></i></a>
          <div id="faq1" class="collapse" data-parent="#faq-list">
            <p>
              We do not define any pricing. We allow you a chance to barter with the service provider for getting the full local flavor of going to the service provider. However, we request you to pay a token amount for the transportation cost of the repairman as a sign of politeness even if you decide not to avail the service. This amount is not mandatory and is communicated between you and the service provider.
            </p>
          </div>
        </li>

        <li>
          <a data-toggle="collapse" href="#faq2" class="collapsed">How long will it take to get connected? <i class="ion-android-remove"></i></a>
          <div id="faq2" class="collapse" data-parent="#faq-list">
            <p>
              We usually respond within half an hour of receiving request and connect you with the service provider within that time. After this, you and the provider may choose to set up the schedule according to your convene. However, for late night requests, in case no active service provider is found, we will connect you with the nearest available service provider as soon as he becomes available.
            </p>
          </div>
        </li>

        <li>
          <a data-toggle="collapse" href="#faq3" class="collapsed">Is all repairing done at home?<i class="ion-android-remove"></i></a>
          <div id="faq3" class="collapse" data-parent="#faq-list">
            <p>
              This depends on the nature of the issue and between both you and the service provider. If the problem cannot be solved at home, you may choose to allow the service provider to take the equipment to his store to get it repaired and later delivered back to your home, or you may ask to have him bring his equipment and fix it at home. Keep in mind, that some issues cannot be fixed at your doorstop. In those cases, please make sure that you request the service via FixKori so that we are informed of the transaction between you and the provider. This will allow us to intervene and ensure proper care of your equipment.

              You are free to choose to request service directly from the service provider, but in this case, do understand that any kind of mishap will not be covered by FixKori.
            </p>
          </div>
        </li>

        <!--<li>-->
          <!--<a data-toggle="collapse" href="#faq4" class="collapsed">Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla? <i class="ion-android-remove"></i></a>-->
          <!--<div id="faq4" class="collapse" data-parent="#faq-list">-->
            <!--<p>-->
              <!--Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.-->
            <!--</p>-->
          <!--</div>-->
        <!--</li>-->

        <!--<li>-->
          <!--<a data-toggle="collapse" href="#faq5" class="collapsed">Tempus quam pellentesque nec nam aliquam sem et tortor consequat? <i class="ion-android-remove"></i></a>-->
          <!--<div id="faq5" class="collapse" data-parent="#faq-list">-->
            <!--<p>-->
              <!--Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in-->
            <!--</p>-->
          <!--</div>-->
        <!--</li>-->

        <!--<li>-->
          <!--<a data-toggle="collapse" href="#faq6" class="collapsed">Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor? <i class="ion-android-remove"></i></a>-->
          <!--<div id="faq6" class="collapse" data-parent="#faq-list">-->
            <!--<p>-->
              <!--Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Nibh tellus molestie nunc non blandit massa enim nec.-->
            <!--</p>-->
          <!--</div>-->
        <!--</li>-->

      </ul>

    </div>
  </section><!-- #faq -->

  <!--==========================
    Contact Section
  ============================-->
  <section id="contact">
    <div class="container">
      <div class="row wow fadeInUp">

        <div class="col-lg-4 col-md-4">
          <div class="contact-about">
            <h3>Fix kori</h3>
            <p>Easier life, better service!</p>
            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="info">
            <div>
              <i class="ion-ios-location-outline"></i>
              <p>Karwan Bajar<br>Dhaka, Bangladesh</p>
            </div>

            <div>
              <i class="ion-ios-email-outline"></i>
              <p>info@FixKori.com</p>
            </div>

            <div>
              <i class="ion-ios-telephone-outline"></i>
              <p>+88 01 5454 65 5421</p>
            </div>

          </div>
        </div>

        <div class="col-lg-5 col-md-8">
          <div class="form">
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form action="" method="post" role="form" class="contactForm">
              <div class="form-row">
                <div class="form-group col-lg-6">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validation"></div>
                </div>
                <div class="form-group col-lg-6">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validation"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validation"></div>
              </div>
              <div class="text-center"><button type="submit" title="Send Message">Send Message</button></div>
            </form>
          </div>
        </div>

      </div>

    </div>
  </section><!-- #contact -->

</main>

<!--==========================
  Footer
============================-->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 text-lg-left text-center">
        <div class="copyright">
          &copy; Copyright <strong>Fix Kori</strong>. All Rights Reserved
        </div>
        <div class="credits">

          Designed by <a href="http://arcanehive.com/">Arcane Hive</a>
        </div>
      </div>
      <div class="col-lg-6">
        <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
          <a href="#intro" class="scrollto">Home</a>
          <a href="#about" class="scrollto">About</a>
          <a href="#">Privacy Policy</a>
          <a href="#">Terms of Use</a>
        </nav>
      </div>
    </div>
  </div>
</footer><!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<!-- JavaScript Libraries -->
<script src="{% static 'customer/lib/jquery/jquery.min.js' %}"></script>
<script src="{% static 'customer/lib/jquery/jquery-migrate.min.js' %}"></script>
<script src="{% static 'customer/lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'customer/lib/easing/easing.min.js' %}"></script>
<script src="{% static 'customer/lib/wow/wow.min.js' %}"></script>
<script src="{% static 'customer/lib/superfish/hoverIntent.js' %}"></script>
<script src="{% static 'customer/lib/superfish/superfish.min.js' %}"></script>
<script src="{% static 'customer/lib/magnific-popup/magnific-popup.min.js' %}"></script>

<!-- Contact Form JavaScript File -->
<script src="{% static 'customer/contactform/contactform.js' %}"></script>

<!-- Template Main Javascript File -->
<script src="{% static 'customer/js/main.js' %}"></script>

</body>
</html>
