{% extends "customer/base.html" %}
{% load static %}
{% block content %}

<div class="header bg-gradient-success pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Card stats -->
            <div class="row">
                <h1>List Of All Services Taken</h1><br>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <div class="row mt-5">
        <div class="col-xl-12">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0">Orders(Datewise Sorted)</h3>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <!-- Projects table -->
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">Type</th>
                            <th scope="col">Issue</th>
                            <th scope="col">Status</th>
                            <th scope="col">Vendor's Name</th>
                            <th scope="col">Vendor's Phone</th>
                            <th scope="col">Date</th>
                            <th scope="col">Details</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for order in all_orders %}
                        <tr>
                            <th scope="row">{{ order.item.item_name }}</th>
                            <td>{{ order.description }}</td>
                            {% if order.status == 1 %}
                                <td>Pending</td>
                            {% elif order.status == 2 %}
                                <td>Confirmed</td>
                            {% elif order.status == 3 %}
                                <td>Processing</td>
                            {% elif order.status == 4 %}
                                <td>Completed</td>
                            {% elif order.status == 5 %}
                                <td>Cancelled by User</td>
                            {% elif order.status == 6 %}
                                <td>Cancelled by Vendor</td>
                            {% elif order.status == 7 %}
                                <td>Incomplete</td>
                            {% endif %}
                            <td>{{ order.service_provider.service_point_name }}</td>
                            <td>{{ order.service_provider.phone_number }}</td>
                            <td>{{ order.created_at|date:"d M, Y" }}</td>
                            <td><a href="{% url 'service_detail' order_id=order.pk %}" class="btn btn-sm btn-primary">See</a></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
            <div class="col-xl-12">
                <div class="copyright text-center text-xl-right text-muted">
                    &copy; 2019 <a href="#" class="font-weight-bold ml-1" target="_blank">Fix Kori</a>
                </div>
            </div>
        </div>
    </footer>
</div>

{% endblock %}