<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="fixkori.com">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fix kori</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'order/main/fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'order/main/css/style.css' %}">
</head>

<body>

<div class="main">

    <div class="container">
        <div class="signup-content">
            <div class="signup-desc">
                <div class="signup-desc-content">
                    <h2><span>Fix</span> Kori</h2>
                    <p class="title">Service Booking section</p>
                    <p class="desc">
                        You have Selected our <span class="spanColor">Vehicle</span> fixing service.<br>
                        Please fill up the following form to make your service booking complete
                    </p>
                    <img src="{% static 'order/main/images/mechanic.png' %}" alt="" class="signup-img">
                </div>
                <footer class="footer-content">
                    Copyright @ <a href="">Fixkori.com</a> 2019
                </footer>
            </div>

            <!-- Type * area*issue*date&time*service provider -->
            <div class="signup-form-conent">
                <form method="POST" id="signup-form" class="signup-form" action="">{% csrf_token %}
                    <div class="form-group">
                        <input list="zone" name="zone" placeholder="Your Zone">
                        <datalist id="zone">
                            <option value="Mirpur">
                            <option value="Uttara">
                            <option value="Shantinagar">
                            <option value="Dhanmondi">
                            <option value="Banani">
                        </datalist>
                    </div>

                    <div class="form-group">
                        <!--<label for="issue">Issue</label>-->
                        <input type="text" name="issue" id="issue" placeholder="Issue">
                    </div>

                    <div class="form-group">
                        <!--<label for="brand">Car Brand</label>-->
                        <input type="text" name="brand" id="brand" placeholder="Car Brand">
                    </div>

                    <div class="form-group">
                        <!--<label for="model">Car Name or Series</label>-->
                        <input type="text" name="model" id="model" placeholder="Car Model">
                    </div>

                    <div class="form-group">
                        <input list="type" name="type" placeholder="Car Type">
                        <datalist id="type">
                            <option value="Sedan">
                            <option value="SUV">
                            <option value="TRUCK">
                        </datalist>
                    </div>

                    <div class="form-group">
                        <!--<label for="model">Car Name or Series</label>-->
                        <input type="hidden" name="item" id="item" value="vehicle">
                    </div>

                    <div class="form-group">
                        <!--<label for="issue">Issue</label>-->
                        <input type="text" name="instruction" id="instruction" placeholder="Instruction">
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a href="{% url 'order' %}" class="btn btn-warning">Back</a>
                </form>
            </div>
        </div>
    </div>

</div>

<!-- JS -->
<!--<script src="{% static 'order/main/vendor/jquery/jquery.min.js' %}"></script>-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="{% static 'order/main/vendor/jquery-validation/dist/jquery.validate.min.js' %}"></script>
<script src="{% static 'order/main/vendor/jquery-validation/dist/additional-methods.min.js' %}"></script>
<script src="{% static 'order/main/vendor/jquery-steps/jquery.steps.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<!--<script src="{% static 'order/main/js/main.js' %}"></script>-->
</body>

</html>